[submodule "depends/rapidsnark"]
	path = depends/rapidsnark
	url = https://github.com/iden3/rapidsnark.git
[submodule "depends/circom"]
	path = depends/circom
	url = https://github.com/iden3/circom.git
